root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = none
